##############################################################################
# 
# Instrument configuration file for timidity
#
# Specify library directory:		dir <directory>
#
# - Multiple library directories may be given. The ones given last will be
#   searched first so you can override them in later configuration files.
#   Extra configuration files and MIDI files will also be searched in these
#   directories.
#
# Set tone bank or drum set to modify:	bank <number>
#					drumset <number>
#
# Map program number to patch map:	<program number> <patch name>
#
# - If the patch can't be found in the library directories, TiMidity will 
#   search again with ".pat" appended to the name.
#   Programs without a loaded patch will be silent, except that for
#   banks/drumsets >0, the corresponding patch in  bank/drumset 0 will
#   be used (if one exists).
#
# Read another configuration file:	source <file name>
#

##############################################################################
# If you've moved things around since compiling, uncomment and edit this to
# point to the library directory: 
#
dir /usr/local/midi/PAT
#

##############################################################################
# This sets up the default patches in the TiMidity support package
# "timidity-lib-0.1.tar.gz":

bank 0

   0 piano/acpiano.pat
   1 piano/britrpno.pat
   2 piano/britepno.pat
   3 piano/honky.pat
   4 piano/epiano1.pat
   5 piano/epiano2.pat
   6 piano/hrpschrd.pat
   7 piano/acpiano.pat
   8 cpercu/rvrbxylo.pat
   9 cpercu/rvrbxylo.pat
  10 cpercu/rvrbxylo.pat
  11 cpercu/rvrbxylo.pat
  12 cpercu/rvrbxylo.pat
  13 cpercu/rvrbxylo.pat
  14 cpercu/tubular.pat
  15 cpercu/rvrbxylo.pat
  16 organ/arp_reso.pat
  17 organ/rockorg.pat
  18 organ/rockorg.pat
  19 organ/church_o.pat
  20 organ/rockorg.pat
  21 organ/rockorg.pat
  22 organ/rockorg.pat
  23 organ/rockorg.pat
  24 guitar/nyguitar.pat
  25 guitar/acguitar.pat
  26 guitar/jazzgtr.pat
  27 guitar/cleangtr.pat
  28 guitar/mutegtr.pat
  29 guitar/odguitar.pat
  30 guitar/distgtr.pat
  31 guitar/dreamgtr.pat
  32 bass/acbass.pat
  33 bass/fngrbass.pat
  34 bass/pickbass.pat
  35 bass/fretless.pat
  36 bass/slapbas1.pat
  37 bass/slapbas2.pat
  38 bass/synbass1.pat
  39 bass/synbass2.pat
  40 strings/strings.pat
  41 strings/strings.pat
  42 strings/strings.pat
  43 strings/strings.pat
  44 strings/strings.pat
  45 strings/strings.pat
  46 strings/orcharp.pat
  47 strings/strings.pat
  48 ensemble/marcato.pat
  49 ensemble/marcato.pat
  50 ensemble/marcato.pat
  51 ensemble/marcato.pat
  52 ensemble/boychoir.pat
  53 ensemble/boychoir.pat
  54 ensemble/vocalise.pat
  55 ensemble/orchhit.pat
  56 brass/solotrmp.pat
  57 brass/prophet3.pat
  58 brass/tuba.pat
  59 brass/tuba.pat
  60 brass/tbrass.pat
  61 brass/hitbrass.pat
  62 brass/prophet1.pat
  63 brass/prophet2.pat
  64 reed/sprnosax.pat
  65 reed/altosax.pat
  66 reed/tenorsax.pat
  67 reed/barisax.pat
  68 reed/oboe.pat
  69 reed/englhorn.pat
  70 reed/bassoon.pat
  71 reed/eclarinet.pat
  72 pipe/flute.pat
  73 pipe/flute.pat
  74 pipe/recorder.pat
  75 pipe/flute.pat
  76 pipe/flute.pat
  77 pipe/flute.pat
  78 pipe/flute.pat
  79 pipe/flute.pat
  80 synth-lead/synvoic1.pat
  81 synth-lead/anasyn10.pat
  82 synth-lead/calliope.pat
  83 synth-lead/synvoic1.pat
  84 synth-lead/charang.pat
  85 synth-lead/synvoic1.pat
  86 synth-lead/synvoic1.pat
  87 synth-lead/synvoic1.pat
  88 synth-pad/fantasia.pat
  89 synth-pad/choir.pat
  90 synth-pad/choir.pat
  91 synth-pad/choir.pat
  92 synth-pad/choir.pat
  93 synth-pad/choir.pat
  94 synth-pad/choir.pat
  95 synth-pad/choir.pat
  96 synth-effects/rain.pat
  97 synth-effects/rain.pat
  98 synth-effects/rain.pat
  99 synth-effects/rain.pat
 100 synth-effects/rain.pat
 101 synth-effects/rain.pat
 102 synth-effects/rain.pat
 103 synth-effects/rain.pat
 104 ethnic/airpipe.pat
 105 ethnic/anyolate.pat
 106 ethnic/steeldrm.pat
 107 ethnic/steeldrm.pat
 108 ethnic/steeldrm.pat
 109 ethnic/steeldrm.pat
 110 ethnic/steeldrm.pat
 111 ethnic/steeldrm.pat
 112 percussive/syntom2.pat
 113 percussive/syntom2.pat
 114 percussive/syntom2.pat
 115 percussive/syntom2.pat
 116 percussive/syntom2.pat
 117 percussive/syntom2.pat
 118 percussive/syntom2.pat
 119 percussive/syntom2.pat
 123 sound-effects/jungle.pat
 124 sound-effects/telephon.pat
 127 sound-effects/gunshot.pat

#  88 synth-pad/
# 120 sound-effects/
#############################################################################

bank 1

 123 sound-effects/dog1
 126 sound-effects/laugh

bank 8

   4 piano/dpiano1
   5 piano/dpiano2

drumset 0

	27 drums/550hiq
	29 drums/scratch1
	30 drums/scratch2
	35 drums/kick1
	36 drums/kick2
	37 drums/stickrim
	38 drums/obsnare1
	39 drums/808claps
	40 drums/snare2
	41 drums/tomlo2
	42 drums/hihatcl
	43 drums/tomlo1
	44 drums/hihatpd
	45 drums/tommid2
	46 drums/hihatop
	47 drums/tommid1
	48 drums/tomhi2
	49 drums/cymcrsh1
	50 drums/tomhi1
	51 drums/cymride1
	52 drums/cymchina
	53 drums/cymbell
	54 drums/tamborin
	55 drums/cymsplsh
	56 drums/cowbell
	57 drums/cymcrsh2
	59 drums/cymride2
	60 drums/bongohi
	61 drums/bongolo
	62 drums/congahi1
	63 drums/congahi2
	64 drums/congalo
	65 drums/727timbh
	66 drums/727timbl
	67 drums/727loago
	68 drums/727hiago
	69 drums/cabasa
	70 drums/808marac
	71 drums/727swhis
	72 drums/727whist
	73 drums/guiro1
	74 drums/guiro2
	75 drums/808clave
	76 drums/woodblk1
	77 drums/woodblk2
	78 drums/cuica1
	79 drums/cuica2
	82 drums/shaker

drumset 8

	41 drums/roomtom1
	43 drums/roomtom2
	45 drums/roomtom3
	47 drums/roomtom4
	48 drums/roomtom5
	50 drums/roomtom6

drumset 48

	27 drums/h-hihatc
	28 drums/h-hihatp
	29 drums/h-hihato
	30 drums/h-ride
	35 drums/h-bd
	36 drums/h-bd
	54 drums/tamborin

drumset 54

	27 drums/h-hihatc
	28 drums/h-hihatp
	29 drums/h-hihato
	30 drums/h-ride
	35 drums/h-bd
	36 drums/h-bd
	38 drums/obsnare1
	39 drums/808claps
	40 drums/snare2
	41 drums/tomlo2
	42 drums/hihatcl
	43 drums/tomlo1
	44 drums/hihatpd
	45 drums/tommid2
	46 drums/hihatop
	47 drums/tommid1
	48 drums/tomhi2
	49 drums/cymcrsh1
	50 drums/tomhi1
	51 drums/cymride1
	52 drums/cymchina
	53 drums/cymbell
	54 drums/tamborin
	55 drums/cymsplsh
	56 drums/cowbell
	57 drums/cymcrsh2
	59 drums/cymride2
	60 drums/bongohi
	61 drums/bongolo
	62 drums/congahi1
	63 drums/congahi2
	64 drums/congalo
	65 drums/727timbh

drumset 56

	54 drums/punch
	67 drums/siren1

drumset 112

	91 drums/siren2

##############################################################################
# The GUS drum patches
#
#drumset 0
#
#	28 slap
#	31 sticks
#	32 sqrclick
#	33 metclick
#	34 metbell
#	58 vibslap
#	80 triangl1
#	81 triangl2
#	83 jingles
#	84 belltree
#	85 castinet
#	86 surdo1
#	87 surdo2
###
##############################################################################
# If you have Dustin McCartney's "wowpats" patches, you can source the 
# config file to set them up for TiMidity:
#
# (Note that later entries in config files always override earlier ones)
#
#source wowpats.cfg
#

##############################################################################
# If you have Dustin McCartney's GS drum sets, you can source the config
# file to set them up for TiMidity:
#
#source gsdrum.cfg
#

##############################################################################
# If you have the GUS General MIDI patch set, uncomment the following lines 
# and edit the "dir" statement to point to your GUS patch directory. 
#
#dir /dos-C/ultrasnd/midi
#source gravis.cfg
#

##############################################################################
# End of configuration file
